body {
    background-color: black;
    color: white;
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 0;
}

.header {
    max-width: 850px; /* Максимальная ширина шапки */
    margin: 0 auto; /* Центрирование шапки */
    display: flex;
    justify-content: space-between; /* Распределяем элементы по горизонтали */
    align-items: flex-end; /* Выравнивание элементов по нижнему краю */
    padding: 10px 20px;
}

.logo-container {
    flex: 0 0 auto; /* Логотип не будет растягиваться */
    margin-right: auto; /* Push the logo to the left side */
}

.logo {
    width: 150px; /* Установите нужный размер для логотипа (уменьшено) */
}

.icons {
    display: flex;
    flex-direction: column; /* Расположение иконок и навигации в столбик */
    align-items: flex-end; /* Выравнивание иконок и навигации вправо */
}

.social-icons {
    display: flex; /* Расположение иконок в строку */
    margin-bottom: 3px; /* Отступ между иконками и навигацией */
}

.social-icon {
    width: 25px; /* Установите нужный размер для иконок (уменьшено) */
    height: 25px; /* Установите нужный размер для иконок (уменьшено) */
    margin: 0 5px; /* Отступ между иконками */
    transition: transform 0.3s ease; /* Плавный переход для увеличения */
}

.social-icon:hover {
    transform: scale(1.2); /* Увеличение размера иконки при наведении */
}

.navigation {
    display: flex; /* Расположение навигационных ссылок в строку */
    justify-content: flex-end; /* Выравнивание ссылок вправо */
    margin-top: 30px; /* Отступ между иконками и навигацией */
}

.navigation a {
    color: white; /* Цвет текста для навигационных ссылок */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    margin: 0 0px; /* Отступ между ссылками */
    padding: 5px; /* Для эффекта фона */
    transition: background-color 0.5s ease, color 0.5s ease; /* Увеличено время перехода */
    letter-spacing: 2px; /* Увеличение расстояния между буквами */
}

.navigation a:hover {
    background-color: blue; /* Фон при наведении */
    color: white; /* Цвет текста при наведении */
    box-shadow: none; /* Убираем свечение */
}

.thin-heading {
    font-weight: 100; /* Используйте значение 100, 200, 300 и т.д. для более тонкого шрифта */
}

h1, h2 {
    text-align: center;
}

.container {
    max-width: 750px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px; /* Отступы внутри контейнера */
	opacity: 1;
}

.content {
    display: flex; /* Используем Flexbox для размещения текста и изображения */
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    justify-content: space-between; /* Распределяем пространство между элементами */
}

.text-container {
    flex: 1; /* Позволяет текстовому контейнеру занимать доступное пространство */
    margin-right: 20px; /* Отступ между текстом и изображением */
}


.image-container {
    flex-shrink: 0; /* Не позволяет изображению уменьшаться */
}

.image-container img {
    width: 300px; /* Установите нужный размер для изображений */
}

.footer {
    max-width: 650px; /* Максимальная ширина для футера */
    margin: 20px auto; /* Центрирование футера */
    padding: 10px; /* Отступы внутри футера */
    border-radius: 0px; /* Скругление углов */
}

.footer h2 {
    text-align: center; /* Выравнивание заголовка по центру */
	margin-bottom: 5px; /* Уменьшите отступ снизу */
}

.form-group {
    margin-bottom: 5px; /* Отступ между группами */
}

.footer label {
    display: block; /* Отображение метки как блочного элемента */
    margin-bottom: 5px; /* Отступ снизу для метки */
}

.footer input, .footer textarea {
    width: 90%; /* Ширина полей ввода */
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругление углов */
    background-color: #fff; /* Фон полей */
}

.button-group {
    margin-top: 10px; /* Отступ сверху для кнопки */
}

.footer button {
    background-color: blue; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border: none; /* Без границы */
    border-radius: 4px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
}

.footer button:hover {
    background-color: darkblue; /* Цвет кнопки при наведении */
}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Плавный переход */
    transform: translateY(10px); /* Сдвиг вниз при исчезновении */
}

.in {
    opacity: 1;
    transform: translateY(0); /* Возвращаем в исходное положение при появлении */
}

.caption {
    color: white; /* Caption color */
}
