body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; /* Убираем отступы по умолчанию */
}

.header {
    display: flex;
    justify-content: space-between; /* Равномерное распределение пространства */
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 10px 20px; /* Отступы внутри шапки */
    background-color: #333; /* Фон шапки */
}

.logo {
    width: 100px; /* Установите нужный размер для логотипа */
}

.icons {
    display: flex;
    align-items: center; /* Центрируем иконки по вертикали */
}

.icons a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    margin-left: 10px; /* Отступ между иконками */
}

.social-icon {
    width: 30px; /* Установите нужный размер для иконок */
    height: 30px; /* Установите нужный размер для иконок */
    transition: transform 0.2s; /* Плавный переход при наведении */
}

.social-icon:hover {
    transform: scale(1.1); /* Увеличение иконки при наведении */
}

.project-links {
    margin-top: 10px;
    text-align: left; /* Выравнивание текста влево */
    margin-left: 20px; /* Отступ слева */
}

.project-links ul {
    list-style-type: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает отступы */
}

.project-links li {
    margin: 5px 0; /* Отступы между элементами списка */
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

h1, h2 {
    text-align: center;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    width: 300px; /* Установите нужный размер для изображений */
}

.image-container em {
    display: block;
    margin-top: 5px;
}