body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; /* Убираем отступы по умолчанию */
}

.header {
    max-width: 900px; /* Максимальная ширина шапки */
    margin: 0 auto; /* Центрирование шапки */
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 10px 20px;
}

.logo {
    width: 100px; /* Установите нужный размер для логотипа */
}

.icons {
    display: flex;
    flex-direction: column; /* Расположение иконок и навигации в столбик */
    margin-left: auto; /* Сдвигаем блок с иконками вправо */
    margin-right: 20px; /* Отступ справа */
    align-items: flex-end; /* Выравнивание по правому краю */
}

.social-icons {
    display: flex; /* Расположение иконок в строку */
}

.social-icons a {
    margin: 0 5px; /* Отступ между иконками */
    display: inline-block; /* Это необходимо для применения transform */
    transition: transform 0.3s ease; /* Плавный переход для трансформации */
}

.social-icons a:hover {
    transform: scale(1.2); /* Увеличение размера иконки при наведении */
}

.social-icon {
    width: 30px; /* Установите нужный размер для иконок */
    height: 30px; /* Установите нужный размер для иконок */
}

.navigation {
    display: flex; /* Расположение навигационных ссылок в строку */
    margin-top: 10px; /* Отступ сверху для навигации */
    text-align: center; /* Центрирование навигационных ссылок */
}

.navigation a {
    color: white; /* Цвет текста для навигационных ссылок */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    margin: 0 0px; /* Отступ между ссылками */
    padding: 5px; /* Для эффекта фона */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при наведении */
}

.navigation a:hover {
    background-color: blue; /* Фон при наведении */
    color: white; /* Цвет текста при наведении */
    border: none; /* Убираем любые границы */
}

h1, h2 {
    text-align: center;
}

.container {
    max-width: 900px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px; /* Отступы внутри контейнера */
}

.image-container {
    text-align: center; /* Центрирование изображений */
    margin: 20px 0;
}

.image-container img {
    width: 300px; /* Установите нужный размер для изображений */
}

.image-container em {
    display: block;
    margin-top: 5px;
}